<nav class="light-green lighten-4">
    <div class="nav-wrapper container">
        <a href="#!"><img src="../images/logo-long-mono.svg" class="brand-logo center" alt=""></a>
        {{!-- <a href="#!" class="brand-logo center">the brew review</a> --}}
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav light-green lighten-4" id="mobile-demo">
            <li><img src="../images/logo-stacked-mono.svg" alt=""></li>
            <li><a href="/reviews">All Reviews</a></li>
            <li><a href="/dashboard">My Reviews</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            
        </ul>
    </div>
</nav>