<img src="../images/logo-stacked-mono.svg" alt="">
{{!-- <h3><i class="fas fa-book-reader"></i> Beer Reviews</h3> --}}
<div class="section">
    <p class="lead">Create and share beer reviews</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-2">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
