<img src="../images/logo-stacked-mono.svg" alt="brew review logo">
<div class="section">
    <p class="lead">Review your favorite beers!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-2">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
